body {
   margin:0;
   padding:0%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   list-style: none;
   text-decoration: none;
} 

.banner{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("background\ image\ .jpg");
   background-size: cover;
   background-position: center;
}
header{
   width: 600px;
   background-color:#000;
   padding: 0px;
   border-radius: 50px;
}


.navbar{
   width: 85%;
   margin:auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo{
   width: 180px;
   cursor:pointer;
   padding-right: 40px;
   padding-top: 40px;
   padding-left: 30%;
   stroke-width: 5;
   border-radius: 50%;
   justify-content: center;
   border-radius: 10px;
}
.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding-top: 120px;
}

.content h1{
   font-size :70px;
   margin-top: 20px;;
   color: #fff;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   font-size: 50px;
} 

.content p{
   margin :20px auto;
   font-weight :100;
   line-height :25px;
   color: #fff;
}


 .container{
   margin:0px;
   padding:0px;
   box-sizing:border-box;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: #f2f2f2;
 }
 .heading{
   width:90%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   margin:20px auto;
 }
 .heading h1{
   font-size: 50px;
   color:#000;
   margin-bottom: 25px;
   position :relative;

}
.heading h1::after{
   content: "";
   position:absolute;
   width:220px;
   height:4px;
   display :block;
   margin: auto;
   background-color :#4caf50;
}
.heading p{
   font-size :18px;
   color :#666;
   margin-bottom :35px; 
}
.container{
   width:90%;
   margin:0 auto;
   padding : 10px 20px;
}
.about{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.about-image{
   flex:  1;
   margin-right:40px;
   overflow: hidden;

}
.about-image{
   max-width :100%;
   height:auto;
   display:block;
   transition : 0.5s ease;

}
.about-image:hover img{
   transform :scale(1.2);
}
.about-content{
   flex:1;
}
.about-content{
   font-size:23px;
   margin-bottom :15px;
   color:#333;

}
.about-content{
   font-size: 18px;
   line-height: 1.5;
   color:#666;
}

.about-content .red-more:hover{
   background-color: #3e8e41;

}
@media screen and (max-width : 768px){
   .heading{
      padding :0px 20px;
   }
   .headin h1{
      font-size: 36px;

   }
   .heading p{
      font-size: 17px;
      margin-bottom : 0px;
   }
   .container{
      padding : 0px;
   }
   .about{
      padding :20px;
      flex-direction:column;
   }
   .about-image{
      margin-right: 0px;
      margin-bottom: 20px;
   }
   .about-content p{
      padding :0px;
     font-size:16px;
   }
   .about-content.red-more{
      font-size: 16px;
      justify-content: center;
   }
}
.services h1{
   font-size: 38px;
   text-align: center;
   color:#007bff;
   margin :50px 0px;
}
.blog-cards{
   width:85%;
   display:flex;
   justify-content: space-between;
   margin:auto;
   align-items: center;
}
.blog-card{
   display : flex;
   flex-direction : column;
   margin : 0px 15px;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
   border-radius :8px;
   overflow : hidden;
   background-color: #fff;
   transition :transform 0.4s ease;

}
.blog-card:hover{
   transform:translateY(-10px);
}
.blog-card img{
   width :100%;
   height:auto;
}
.blog-coontent h2{ 
   padding:20px;
}
.blog-content p{
   font-size: 16px;
   color:#333;
   margin-bottom: 20px;
}
.blog-content a:hover{
   background-color: #0056b3;
}
@media screen and (max-width :768px){
   .blog-cards{
      flex-direction : column;
   }
   .blog-card{
      margin:20px 0px;
   }
   .blog-image img{
      max-width :100%;
   }
}
.hero{
   background-color:#f8f8f8;
   overflow: hidden;
}
.head h1{
   color:#ff6347;
   font-size: 55px;
   text-align: center;
   margin-top: 35px;
}
.contain{
   display:flex;
   justify-content: center;
   align-items: center;
   width:90%;
   margin:65px auto;
}
.hero-content h2{
   font-size: 38px;
   margin: bottom 20px; 
   color:#333;
}
.hero-contentp{
   font-size: 24px;
   line-height: 1.5px;
   margin-bottom :40px;
   color:#666;
}
.hero-content button{
   display :inline-block;
   background-color: #ff4500;
   color:#fff;
   padding :12px 24px;
   border-radius: 5px;
   font-size: 20px;
   border:none;
   cursor :pointer;
   transition : 0.3s ease;
}
.hero-image{
   flex:1;
   width:600px;
   margin:auto;
}
img{
   width: 80%;
   height :50%;
   border-radius:10px;

}
@media screen and (max-width:768px){
   .head h1{
      font-size :45px;
      margin-top:30px;
   }
   .hero{
      margin:0px;
   }
   .contain{
      width:100%;
      flex-direction: column;
      margin: 0px;
      padding : 0px 40px;
   }
   .hero-content {
      width:100%;
      margin:35px 0px;
   }
   .hero-content h2{
      font-size: 30px;
   }
   .hero-content p{
      font-size: 18px;
      margin-bottom: 20px;
   }
   .hero-content button{
      font-size: 16px;
      padding:8px 16px;
   }
   .hero-image{
      width:100%;
   }
}
@keyframes fadeInup{
   0%{
      opacity :0;
      transform : translateY(50px);
   }
   100%{
      opacity: 0;
      transform :translateY(50px);
   }
}
@keyframes fadeInRight{
   0%{
      opacity :0;
      transform : translateY(50px);
   }
   100%{
      opacity: 1;
      transform :translateY(50px);
   }
}
.contact-us h2{
   display: flex;
   justify-content: center;
   align-items: center;
   color:#3e8e41;
}
.contact-us p{
   display: flex;
   justify-content: center;
   align-items: center;
   color:#000;
}
.last{
   background-color: rgba(145, 25, 127, 0.125);
  
   width:100%;
   font-size: 20px;
}
.in2{
   position: relative;
   display:inline-block;
   justify-content: center;
}
.location h1{
   position :absolute;
  margin: 100%;
  position: relative;
  justify-content: center;
}